<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autodesk.ProductInterface.PowerMILL" version="1.0.4" targetFramework="net461" />
  <package id="Autodesk.ProductInterface.PowerSHAPE" version="1.0.4" targetFramework="net461" />
  <package id="Autodesk.WPFControls.ProductControls.PowerMILL" version="1.0.4" targetFramework="net461" />
  <package id="Autodesk.WPFControls.ProductControls.PowerSHAPE" version="1.0.4" targetFramework="net461" />
</packages>